<div class="b">
  <h1> <i class="bi bi-arrow-left-circle-fill ms-2" routerLink="/fees"></i></h1>
<div class="course-details">
    <h2>Course Details</h2>
    <ul>
      <li>
        <h3>Course Name: PCMB</h3>
        <p>Duration: 2 years</p>
        <p>Min Qualification:10th</p>
        <p>Seats:80</p>
        <p>Specializations: Physics,Chemistry,Mathematics,Biology</p>
        <p>Fees Applicable:85000</p>
      </li>
      <li>
        <h3>Course Name: PCMCS</h3>
        <p>Duration: 2 years</p>
        <p>Min Qualification:10th</p>
        <p>Seats:80</p>
        <p>Specializations: Physics, Chemistry, Mathematics,Computer Science</p>
        <p>Fees Applicable:80000</p>
      </li>
    </ul>
  </div>
</div>
  