.student-form {
    margin-left: 400px;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    align-content: center;
  }
  
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button[type="submit"] {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  
  .m{
    background-image: url("https://www.timeshighereducation.com/student/sites/default/files/paying_for_university.jpg");
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s;

    margin-top: 0;
    width: 100%;
  }
  .table{
    width: 95%;
    margin-left: 2%;
    background-color: rgb(240, 235, 235);
    
  }
  thead{
    background-color: rgb(47, 46, 46);
    
  }
  th{
    color: white;
  }