
  <body>
    <div class="menu-bar">
      <!-- <h1 class="logo">Light<span>Code.</span></h1> -->
      <ul>
        <li><a routerLink="home">Home</a></li>
        <li><a href="#">College Office<i class="fas fa-caret-down"></i></a>
            <div class="dropdown-menu">
                <ul>
                  <li><a routerLink="fees">Fees Details</a></li>
                  <li> <a routerLink="course">Course Details</a></li>
                </ul>
              </div>
        </li>
        <li><a routerLink="admission">Admission</a>
        </li>
        <li><a routerLink="attendence">Attendence</a>
        </li>
        <li><a routerLink="faculty">Faculty Details</a>
        </li>
        <li><a href="#">More<i class="fas fa-caret-down"></i></a>
            <div class="dropdown-menu">
                <ul>
                  <li><a routerLink="timetable">Time Table</a></li>
                  <li><a routerLink="feedback">Feedback</a></li>
                
                </ul>
              </div>
        </li>
       
      </ul>
    </div>

    