<div class="u">
<body>
    <h2> <i class="bi bi-arrow-left-circle-fill" routerLink="/faculty"></i></h2>

    <h1> Time Table</h1>
    <table>
        <tr>
            <th>Day</th>
            <th>8:00 AM - 9:00 AM</th>
            <th>9:00 AM - 10:00 AM</th>
            <th>10:00 AM - 11:00 AM</th>
            <th>11:00 AM - 12:00 PM</th>
            <th>12:00 PM - 1:00 PM</th>
        </tr>
        <tr>
            <td>Monday</td>
            <td>Physics</td>
            <td>Chemistry</td>
            <td>Biology</td>
            <td>Mathematics</td>
            <td>Lunch Break</td>
        </tr>
        <tr>
            <td>Tuesday</td>
            <td>Mathematics</td>
            <td>Physics</td>
            <td>Chemistry</td>
            <td>Biology</td>
            <td>Lunch Break</td>
        </tr>
        <tr>
            <td>Wednesday</td>
            <td>Biology</td>
            <td>Mathematics</td>
            <td>Physics</td>
            <td>Chemistry</td>
            <td>Lunch Break</td>
        </tr>
        <tr>
            <td>Thursday</td>
            <td>Chemistry</td>
            <td>Biology</td>
            <td>Mathematics</td>
            <td>Physics</td>
            <td>Lunch Break</td>
        </tr>
        <tr>
            <td>Friday</td>
            <td>Physics</td>
            <td>Chemistry</td>
            <td>Biology</td>
            <td>Mathematics</td>
            <td>Lunch Break</td>
        </tr>
    </table>
</body>
</div>
